/**
 * Variables
 */
$white: #fff;
$black: #000;

$dark: #161511;
$gray: #9b9686;
$light-gray: #e0d3bb;
$very-light-gray: #f7f1e8;

$theme-color: #d68645;
$theme-color2: #fd9e4d;
$text-color: #161511;

$border-color: #929292;
$input-color: #313131;

$error-color: #d42c2c;

$font-primary: "Roboto Condensed", sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$theme-border-radius: 15px;
