.single-product {
    position: relative;
    z-index: 1;

    .woocommerce-message,
    .woocommerce-error {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        background-color: $very-light-gray;
        color: $text-color;
        clear: both;
        border-left: 1px solid $very-light-gray;
        padding: 16px 20px;
        position: relative;
        list-style: none outside;
        border-radius: $theme-border-radius;
        font-weight: 600;

        @media (width <= 991px) {
            text-align: center;
        }

        > li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        > a.button {
            display: none;
        }

        .button {
            margin: 15px 0 0;
            background: $theme-color2;
            border: 1px solid $theme-color2;
            color: $white;
            min-width: 220px;

            &:hover {
                background: $theme-color2;
                border: 1px solid $theme-color2;
                color: $white;
            }
        }

        &__button-wrapper {
            display: flex;
            gap: 15px;
            width: 100%;
            align-items: center;
            justify-content: center;

            @media (width <= 991px) {
                gap: 5px;
                flex-flow: column wrap;
            }

            @media (width <= 340px) {
                gap: 5px;
                flex-direction: column;
            }
        }
    }

    #primary {
        @extend .container;
        min-height: 57vh;
        position: relative;
        z-index: 1;

        @media (width <= 1199px) {
            padding: 80px 15px 0;
            text-align: left;
        }

        .woocommerce-breadcrumb {
            margin: 80px 0 40px;

            @media (width <= 1199px) {
                margin: 0 0 40px;
            }
        }

        .single-product-content {
            @extend .row;

            .price {
                position: relative;
                width: auto;
                display: flex;
                align-items: center;
                margin: 15px 0 0;
                font-size: 29px;
                font-weight: 700;
                background: $white;
                color: $theme-color2;
                padding: 0;
                flex-wrap: wrap;

                // &:before {
                //   content: 'Price:';
                //   display: block;
                //   @extend .paragraph;
                //   font-weight: 700;
                //   margin: 0 5px 0 0;
                //   color: $text-color;
                // }

                del {
                    @extend .theme-content-product-price-deleted;
                }

                ins {
                    text-decoration: none;
                }

                > span {
                    display: block;
                    width: 100%;

                    &:last-child {
                        font-size: 14px !important;
                    }
                }

                .woocommerce-price-suffix {
                    display: none;
                }

                .iworks-omnibus {
                    width: 100%;
                    margin: 0 0 15px;
                }
            }

            .product__tax,
            .pryc_wp_wc_omnibus_product_field {
                @extend .paragraph;
                display: block;
                margin: 0;
                font-size: 14px;
            }

            .product__size {
                padding: 0;
                font-weight: 700;
                font-size: 18px;
            }

            h2,
            h3 {
                background: none;
                padding: 0;
                min-height: initial;
            }

            h3,
            h4 {
                @extend .h4;
            }
        }

        .summary {
            @extend .col-lg-6;
            @extend .col-xl-7;
        }

        .woocommerce-tabs {
            width: 100%;
            margin: 50px 0 80px;

            h3 {
                margin: 25px 0 0;
            }

            p {
                em,
                address {
                    font-size: 18px;
                    font-style: normal;
                }
            }

            ul,
            ol {
                margin: 20px 0 0;

                li {
                    @extend .paragraph;
                    margin: 0;
                    display: block;
                    padding: 0 0 0 20px;
                    position: relative;

                    &::before {
                        content: "•";
                        display: block;
                        margin: 0;
                        font-size: 20px;
                        position: absolute;
                        left: 0;
                        top: -2px;
                    }

                    strong {
                        width: auto;
                    }
                }
            }
        }

        .tabs.wc-tabs {
            display: none;
        }

        .woocommerce-Tabs-panel {
            h2 {
                &:first-child {
                    display: none;
                }
            }
        }

        .woocommerce-product-gallery {
            @extend .col-lg-6;
            @extend .col-xl-5;
            padding: 0;
            width: 100%;

            &__image {
                height: 530px;
                position: relative;
                width: 100%;
                max-width: 530px;
                background: $white;
                border-radius: $theme-border-radius;
                border-top-left-radius: $theme-border-radius;

                @media (width <= 767px) {
                    max-width: 750px;
                }

                @media (width <= 500px) {
                    height: 350px;
                }

                > a {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border: 1px solid $light-gray;
                    border-radius: $theme-border-radius;

                    &::before {
                        content: "";
                        display: block;
                        width: 31px;
                        height: 31px;
                        background: url("./images/woocommerce-image-zoom.png");
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                    }

                    > img {
                        margin: 0;
                        display: block;
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: $theme-border-radius;
                        border-top-left-radius: $theme-border-radius;
                        object-position: top center;
                    }
                }

                &--placeholder {
                    display: none;

                    > img {
                        margin: 0;
                        display: block;
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: $theme-border-radius;
                        border-top-left-radius: $theme-border-radius;
                    }
                }
            }
        }

        /* slider gallery */

        .flex-control-nav {
            width: 100%;
            margin: 10px 0 0;
            overflow: hidden;
            display: flex;
            gap: 10px;

            li {
                width: 100%;
                height: 122px;
                position: relative;
                background-color: $white;
                max-width: 122px;
                display: none;
                border: 1px solid $light-gray;
                border-radius: 0;
                overflow: hidden;

                &:first-of-type,
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    z-index: 1;
                    position: relative;
                    cursor: pointer;
                    border-radius: $theme-border-radius;
                    max-height: 100%;
                    margin: 0 auto;
                }
            }
        }

        .product_title {
            @extend .h3;
            text-align: left;

            @media (width <= 991px) {
                margin: 30px 0 0;
            }
        }

        .woocommerce-product-details__short-description {
            @extend .paragraph;
            text-align: left;

            > * {
                margin: 20px 0 0;
            }

            > h2,
            > h3,
            > h4,
            > strong,
            > span,
            > strong {
                margin: 20px 0;
            }

            a {
                color: $theme-color2;
                text-decoration: underline;
            }

            ul,
            ol {
                margin: 15px 0 0;

                li {
                    display: flex;
                    margin: 5px 0 0;
                    text-align: left;

                    &::before {
                        content: "•";
                        margin: 0 8px 0 0;
                        display: inline-block;
                        color: $theme-color2;
                    }
                }
            }

            em {
                font-size: inherit;
                line-height: inherit;
            }
        }

        p {
            text-align: left;
        }

        .woocommerce-variation-availability {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            // &:before {
            //   content: 'Dostępność: ';
            //   display: block;
            //   @extend .paragraph;
            //   font-weight: 700;
            //   margin: 0 5px 0 0;
            // }
        }

        form {
            margin: 15px 0 0;
            display: flex;
            align-items: center;

            /* for every type of product */
            .quantity {
                margin: 0;
                display: flex;

                > input {
                    min-width: 75px;
                    border-radius: 0;
                }

                /* woo better usabillity plugin */
                a.wbu-qty-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $border-color;
                    color: $theme-color2;

                    &:first-of-type {
                        border-right: none;
                    }

                    &:last-of-type {
                        border-left: none;
                    }
                }
            }

            .button {
                margin: 0 0 0 10px;
            }

            /* for variations */
            &.variations_form.cart {
                margin: 20px 0 0;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                @media (width <= 991px) {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
            }

            > div {
                @media (width <= 767px) {
                    margin: 20px 0 0;
                }

                label {
                    margin: 0 15px 0 0;
                }

                label.screen-reader-text {
                    display: none;
                }

                .woocommerce-variation-add-to-cart {
                    display: flex;
                }

                input {
                    /* importants are necessary to make sure that any plugin that styles inputs globally doesn't overwrite design styles */
                    max-width: 60px;
                    font-size: 16px;
                    padding: 5px 5px 5px 10px !important;
                    border: 1px solid $border-color !important;
                    height: 48px;
                }
            }

            .variations select,
            .variations option {
                @extend .inputs;
            }
        }

        .product_meta {
            display: none;
        }

        .onsale {
            margin: 0;
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 80px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $theme-color2;
            text-transform: uppercase;
            color: $white;
            font-weight: 700;
            font-family: $font-primary;
            font-size: 12px;
            border-top-left-radius: $theme-border-radius;
        }

        /* changes in variable product */

        .product-type-variable {
            // p.price {
            //   display: none;
            // }

            span.price {
                margin: 0;
            }
        }

        .woocommerce-variation-add-to-cart {
            margin: 0;
        }
    }

    /* related products */
    .products.related,
    .products.upsells {
        margin: 60px 0 0;
        padding: 40px 0 0;
        border-top: 1px solid $light-gray;
        position: relative;
        z-index: 1;

        .products.columns-4 {
            margin: 10px -15px 0;

            @media (width <= 767px) {
                margin: 40px -15px 0;
            }
        }

        .product__image {
            height: 420px;

            @media (width <= 767px) {
                height: 290px;
            }

            @media (width <= 575px) {
                height: 500px;
            }

            @media (width <= 490px) {
                height: 400px;
            }
        }
    }

    /* hide irrelevant stuff related to blog */
    .sidebar__item {
        display: none;
    }
}

/* remove image title from gallery */
.pswp__caption__center {
    display: none !important;
}
