.cta-hero {
    width: 100%;
    text-align: left;
    position: relative;

    &--background {
        background: $very-light-gray;
    }

    &__item {
        position: relative;
        width: 100%;

        &:hover {
            .cta-hero__image--animated {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__image,
    &__video,
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
    }

    &__image {
        z-index: -1;

        img {
            filter: brightness(0.9) contrast(1.05);
            width: 110%;
            height: 110%;
            max-width: 110%;
            object-fit: cover;
            display: block;
            margin: 0;
            position: relative;
            top: 0;
            transition: all 300ms ease;

            &.scrolled {
                top: -45px;

                @media (width <= 1199px) {
                    top: -38px;
                }
            }
        }
    }

    &__video {
        z-index: -1;

        video {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            display: block;
            margin: 0;
            position: relative;
            top: 0;
            transition: all 300ms ease;
            filter: contrast(1.05);

            &.scrolled {
                top: -45px;

                @media (width <= 1199px) {
                    top: -38px;
                }
            }
        }
    }

    &__overlay {
        z-index: 0;
        background: linear-gradient(
            61deg,
            rgb(0 0 0) 0%,
            rgb(0 0 0 / 85%) 23%,
            rgb(0 0 0 / 80%) 48%,
            rgb(0 0 0 / 70%) 89%,
            rgb(0 0 0 / 88%) 100%
        );
    }

    &__link {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }

    &__content {
        height: 650px;
        width: 100%;
        position: relative;
        padding: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        text-align: center;
        margin: 0 auto;

        &--full {
            padding: 90px 0 45px;

            @media (width <= 767px) {
                height: auto;
                padding: 160px 15px 60px;
            }

            @media (width <= 449px) {
                padding: 160px 15px 60px;
            }
        }

        > p {
            font-size: 27px;
        }

        @media (width <= 767px) {
            height: auto;
            padding: 160px 15px 60px;
        }

        @media (width <= 449px) {
            padding: 160px 15px 60px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 270px;
        margin: 0 auto 30px;

        img,
        svg {
            filter: brightness(0) invert(1);
        }

        @media (width <= 1199px) {
            display: none;
        }
    }

    &__title,
    &__subtitle,
    &__button,
    &__content > p {
        position: relative;
    }

    &__title,
    &__subtitle,
    &__content > p {
        color: $white;
    }

    &__button {
        margin: 30px 0 0;
        border: 2px solid $white;
        background: $white;
        color: $theme-color;

        &:hover {
            border: 2px solid $white;
            background: $white;
            color: $theme-color;
        }
    }

    /* slick styles overwrite */

    .slick-current {
        position: relative;
        z-index: 10;
    }

    /* cta */

    &__button-banner {
        top: -100px;
        box-shadow: 0 0 27px -17px rgb(0 0 0 / 100%);

        .row {
            margin: 0;
        }
    }
}
