.program {
    width: 100%;
    position: relative;

    &--background {
        background: $very-light-gray;
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;

        @media (width <= 991px) {
            flex-wrap: wrap;
        }
    }

    &__button {
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-shrink: initial;

        &.active {
            background: $light-gray2;
            border: 1px solid $light-gray2;
            color: $text-color;
        }
    }

    &__wrapper {
        width: 100%;
        margin: 40px 0 0;
        min-height: 570px;
    }

    &__item {
        width: 100%;
        display: none;
        min-height: 570px;

        &:first-child {
            display: block;
        }
    }

    &__title {
        @extend .h3;
        padding: 0 20px;
        text-align: center;
        margin: 0 0 15px;
    }

    &__date {
        font-size: 13px;
        display: block;
        margin: 0 0 20px;
        padding: 0 20px;
        text-align: center;
    }

    &__info {
        width: 100%;
        padding: 20px;
        background: $very-light-gray;

        &:nth-child(2n) {
            background: $light-gray2;
        }
    }

    &__time {
        display: block;
        font-size: 13px;
    }

    &__subtitle {
        @extend .h4;
        display: block;
    }
}
