.text-with-image {
    width: 100%;
    text-align: left;
    position: relative;

    &--background {
        background: $very-light-gray;
    }

    &--padding {
        padding: 80px 0 85px;
    }

    &__row {
        align-items: center;

        &--reverse {
            flex-direction: row-reverse;

            @media (width <= 767px) {
                flex-direction: column-reverse;
            }
        }

        @media (width <= 767px) {
            flex-direction: column-reverse;
        }
    }

    &__picture {
        width: 100%;
        height: 440px;
        border-radius: $theme-border-radius;

        img {
            object-position: center;
            border-radius: $theme-border-radius;
        }

        &--reverse {
            /* temporary styles */
            img {
                // object-position: center right;
                object-position: center right;
            }
        }

        &--big {
            height: 520px;

            @media (width <= 767px) {
                height: 440px;
            }
        }

        @media (width <= 767px) {
            margin: 0 0 30px;
            height: 380px;
        }
    }

    h1,
    h2,
    h3,
    h4 {
        color: $text-color;

        em {
            @extend .h2;
            color: $theme-color;
            font-style: normal;
        }
    }

    &__subtitle {
        margin: 10px 0 0;
        color: $theme-color;

        @extend .h4;
    }

    &__button {
        margin: 30px 0 0;
    }
}
