.three-boxes {
    width: 100%;
    position: relative;

    &--background {
        background: $very-light-gray;
    }

    &__item {
        width: 100%;
        position: relative;
        padding: 30px;
        background: $white;
        margin: 30px 0 0;
        border: 1px solid $light-gray;
        transition: all 250ms ease;

        &:hover {
            background: $very-light-gray;
            border: 1px solid $very-light-gray;

            .three-boxes__image {
                border: 1px solid $very-light-gray;
            }
        }
    }

    &__image {
        position: relative;
        width: 100%;
        z-index: 1;
        transition: all 250ms ease;
        height: 270px;
        background: $black;
        border: 1px solid $white;
    }

    &__content {
        width: 100%;

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 25px 0 0;
            font-size: 19px;
            letter-spacing: 0;

            @extend .h4;
        }

        p {
            font-size: 15px;
            margin: 15px 0 0;
        }
    }

    &__button {
        margin: 15px 0 0;
    }
}
