.three-boxes {
    width: 100%;
    position: relative;
    margin: -30px 0 0;

    &--background {
        background: $very-light-gray;
    }

    &__item {
        width: 100%;
        position: relative;
        padding: 24px;
        background: $white;
        margin: 30px 0 0;
        border: 1px solid $light-gray;
        transition: all 250ms ease;

        &:hover {
            background: $very-light-gray;
            border: 1px solid $very-light-gray;

            .three-boxes__image {
                border: 1px solid $very-light-gray;
            }
        }

        @media (width <= 767px) {
            padding: 10px;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        z-index: 1;
        transition: all 250ms ease;
        height: 270px;
        background: $black;
        border: 1px solid $white;

        img {
            filter: contrast(1.05) saturate(1.05);
        }
    }

    &__content {
        width: 100%;

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 25px 0 0;
            font-size: 19px;
            letter-spacing: 0;

            @extend .h4;
        }

        p {
            font-size: 16px;
            margin: 15px 0 0;
        }
    }

    &__button {
        margin: 15px 0 0;
    }
}
